.vs
src/MQTTBroker/.vs
src/MQTTBroker/bin
src/MQTTBroker/obj
src/MQTTLib/.vs
src/MQTTLib/MqttClient/bin
src/MQTTLib/MqttClient/obj
src/MQTTLib/MqttClient/.vs
src/PersonManagementService/.vs
src/PersonManagementService/bin
src/PersonManagementService/obj
src/PersonManagementService/.vs
src/ReportManagementService/bin
src/ReportManagementService/obj
test/TestReportService/bin
test/TestReportService/obj
test/TestPersonService/bin
test/TestPersonService/obj