.vs
src/ReportConsumer/.vs
src/ReportConsumer/bin
src/ReportConsumer/obj
src/Core/.vs
src/Core/MqttClient/bin
src/Core/MqttClient/obj
src/Core/MqttClient/.vs
src/PersonService/.vs
src/PersonService/bin
src/PersonService/obj
src/ReportService/.vs
src/ReportService/bin
src/ReportService/obj
test/TestReportService/bin
test/TestReportService/obj
test/TestPersonService/bin
test/TestPersonService/obj